/* RESET *****************************************/

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{margin: 0;}

.flex{display: flex;}
.absolute{position: absolute;}
.relative{position: relative;}
.fixed{position: fixed;}

.centerAlign{align-items: center;}
.justifyCenter{justify-content: center;}
.justifyEnd{justify-content: flex-end;}
.spaceBtw {justify-content: space-between;}
.wrap{flex-wrap: wrap;}

.bckProperty{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{text-decoration: none;}
li{list-style: none;}

.dimensionTag{
    color: white;
    font-weight: 600;
    padding: 2px 5px;
    font-size: 14px;
}

/* FINE RESET ************************************/


/***************** INIZIO HEADER *******************/

header{
    width: 100vw;
    min-height: 50px;
    background-color: #ff6900;
    z-index: 999;
}

nav{
    width: 1035px;
    min-height: 50px;
    margin: 0 auto;
}

.navBox{
    width: 33.33%;
    height: 50px;
}

.navBox a{
    color: white;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.navBox .logo{
    width: 120px;
}

.navBox .user, .heart, .shopping{
    width: 7%;
    height: 50%;
    margin-left: 7px;
}

/*************** INIZIO MAIN ***********************/

.mainContainer{
    width: 1035px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.card{
    width: calc(100%/3 - 15px);
    height: 500px;
    margin-bottom: 60px;
}

#topLeft{
    background-image: url(../img/1.webp);
}

#topLeft:hover{
    background-image: url(../img/1b.webp);
}

#topRight{
    background-image: url(../img/2.webp);
}

#topRight:hover{
    background-image: url(../img/2b.webp);
}

#topMid{
    background-image: url(../img/3.webp);
}

#topMid:hover{
    background-image: url(../img/3b.webp);
}

#bottomLeft{
    background-image: url(../img/4.webp);
}

#bottomLeft:hover{
    background-image: url(../img/4b.webp);
}

#bottomRight{
    background-image: url(../img/5.webp);
}

#bottomRight:hover{
    background-image: url(../img/5b.webp);
}

#bottomMid{
    background-image: url(../img/6.webp);
}

#bottomMid:hover{
    background-image: url(../img/6b.webp);
}

.favourite{
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 25px;
    right: 0;
    top: 10px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.favourite:hover{
    background-color: black;
    color: red;
}

.greenTag{
    background-color: green;
    left: 50px;
    bottom: 80px;
}

.customGreenTag{
    background-color: green;
    left: 0px;
    bottom: 80px;
}

.redTag{
    background-color: red;
    left: 0;
    bottom: 80px;
}

.whiteBox{
    width: 329.9px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom:0;
}

.whiteBox > ul{
    margin: 2px 0 0 0;
    padding-left: 0;
}

.whiteBox ul li:nth-child(2){
    font-weight: bold;
}

ul li:nth-child(3){
    color: red;
    font-weight: bold;
    display: inline-block;
}

#liCustom{
    display: inline-block;
    text-decoration: line-through;
}








/*************** INIZIO FOOTER ***********************/

footer{
    width: 100vw;
    height: 85px;
    background-color: #1a1a1a;
}